.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-mont {
  font-family: 'Montserrat', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  padding: 0px 25px;
  font-weight: 500;
}

.navbar{
  transition:500ms ease;
}
.navbar.scrolled{
  background:#340d0d;
}

.navbar-nav.ms-auto.scrolled li a{
  transition:500ms ease;
  color: rgb(163, 157, 157);
}