ul{
    list-style-type: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    padding: 0;
}
li{
    padding-top: 10px;
}

.fa-5x{
    vertical-align: middle;
    font-family: FontAwesome !important;
    color: #340d0d;
    padding: 10px;
}

.zoom-on-hover:hover{
    transition: 500ms ease;
    transform: scale(1.01);
}

.bg-home{
    width: 100%;
    height: 100vh;
    background-image: url(../images/home_blr.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-about{
    width: 100%;
    min-height: 100vh;
}

.col-md{
    padding: 20px;
}

.container{
    padding: 80px 15px;
}

.badge-bg {
    background-color: #340d0d !important;
}

.skill-bar{
    padding: 20px 15px;
}